@model IEnumerable<Product>
<!--End header-->
<main class="main ">
    <section class="home-slider style-2 position-relative mb-50">
        <div class="container ">
            <div class="row">
                <div class="col-xl-8 col-lg-8">
                    <div class="home-slide-cover">
                        <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                            <div class="single-hero-slider single-animation-wrap" style="background-image: url(assets/imgs/slider/nothing.jpg)">
                                <div class="slider-content">
                                    <h1 class="display-2 mb-40 ">
                                        Nothing Phone<br />
                                        Big discount
                                    </h1>
                                    <p class="mb-65 text-white">Save up to 50% </p>
                                    @* <a class='btn btn-xs' href='shop-grid-right.html'>Shop Now <i class="fi-rs-arrow-small-right"></i></a> *@
                                    
                                </div>
                            </div>
                            <div class="single-hero-slider single-animation-wrap" style="background-image: url(assets/imgs/slider/s24.jpg)">
                                <div class="slider-content">
                                    <h1 class="display-2 mb-40">
                                        Samsung Galaxy<br />
                                        S24 Ultra
                                    </h1>
                                   @*  <a class='btn btn-xs' href='shop-grid-right.html'>Shop Now <i class="fi-rs-arrow-small-right"></i></a> *@
                                    
                                </div>
                            </div>
                        </div>
                        <div class="slider-arrow hero-slider-1-arrow"></div>
                    </div>
                </div>
                <div class="col-lg-4 mt-md-30 ">
                    <div class="banner-img style-3 animated animated">
                        <div class="banner-text mt-50">
                            @* <h2 class="mb-50">
                                Delivered <br />
                                to
                                <span class="text-brand">
                                    your<br />
                                    home
                                </span>
                            </h2> *@
                           @*  <a class='btn btn-xs' href='shop-grid-right.html'>Shop Now <i class="fi-rs-arrow-small-right"></i></a> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End hero slider-->
    <section class="banners mb-25 ">
        <div class="container">
            <div class="row ">
                <div class="col-lg-4 col-md-6">
                    <div class="banner-img">
                        <img src="assets/imgs/banner/macbook.jpg" alt="" />
                        <div class="banner-text">
                            @* <h4 class="text-white">
                                Apple <br />MackBook Pro<br />
                                Pro
                            </h4> *@
                           @*  <a class='btn btn-xs mt-200' >Shop Now <i class="fi-rs-arrow-small-right"></i></a> *@
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="banner-img">
                        <img src="assets/imgs/banner/headphone.png" alt="" />
                        <div class="banner-text">
                            @* <h4>
                                Make your Breakfast<br />
                                Healthy and Easy
                            </h4> *@
                           @*  <a class='btn btn-xs mt-200' href='shop-grid-right.html'>Shop Now <i class="fi-rs-arrow-small-right"></i></a> *@
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-md-none d-lg-flex">
                    <div class="banner-img mb-sm-0">
                        <img src="assets/imgs/banner/tv2.jpg" alt="" />
                        <div class="banner-text">
                            @* <h4>The best Organic <br />Products Online</h4> *@
                           @*  <a class='btn btn-xs' href='shop-grid-right.html'>Shop Now <i class="fi-rs-arrow-small-right"></i></a> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End banners-->
    <section class="product-tabs section-padding position-relative p-30">
        <div class="container">
            <div class="section-title style-2">
                <h3>Products</h3>
                <ul class="nav nav-tabs links" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">All</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Laptop</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">Mobiles</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-four" data-bs-toggle="tab" data-bs-target="#tab-four" type="button" role="tab" aria-controls="tab-four" aria-selected="false">Earbud</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-five" data-bs-toggle="tab" data-bs-target="#tab-five" type="button" role="tab" aria-controls="tab-five" aria-selected="false">Smartwatch</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-six" data-bs-toggle="tab" data-bs-target="#tab-six" type="button" role="tab" aria-controls="tab-six" aria-selected="false">Television</button>
                    </li>
                    
                </ul>
            </div>
            <!--End nav-tabs-->
            <div class="tab-content mb-10" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                    <div class="row product-grid-4 mb-lg-20"  id="productCart" style="margin-bottom:20px">
                        
                        <!--start product card-->
                        @foreach(var product in Model)
                        {
                            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 d-xl-block mb-20">
                                <div class="product-cart-wrap">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a asp-action="Details" asp-route-productId="@product.Id">
                                                <img class="default-img" src="@product.ImageUrl" alt="" />
                                                <img class="hover-img" src="@product.ImageUrl" alt="" />
                                            </a>
                                        </div>
                                        
                                        <div class="product-action-1">
                                            <a asp-action="Wishlist" asp-route-productId="@product.Id" aria-label='Add To Wishlist' class='action-btn'><i class="fi-rs-heart"></i></a>
                                            <a aria-label='Compare' asp-route-productId="@product.Id" class='action-btn' ><i class="fi-rs-shuffle"></i></a>
                                            <a asp-action="QuickView" asp-route-productId="@product.Id" asp-controller="Home" aria-label="Quick view" class="action-btn" onclick="showQuickViewModal()"><i class="fi-rs-eye"></i></a>
                                        </div>
                                        
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a >@product.Category.Name</a>
                                        </div>
                                        <h2><a asp-action="Details" asp-route-productId="@product.Id">@product.Name</a></h2>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 50%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (2.0)</span>
                                        </div>
                                        <div>
                                            <span class="font-small text-muted">By <a href='vendor-details-1.html'>Acer</a></span>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <span>R.s @product.Price.ToString("N0")</span>
                                               @*  <span class="old-price">$24.8</span> *@
                                            </div>
                                            <div class="add-cart">
                                                <a class='add' asp-action="InsertToCart" asp-route-productId="@product.Id"><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        
                        <!--end product card-->
                    </div>
                    <!--End product-grid-4-->
                </div>
                <!--En tab one-->
                <div class="tab-pane fade" id="tab-two" role="tabpanel" aria-labelledby="tab-two">
                    <div class="row product-grid-4">
                        
                        <!--start product card-->
                        @foreach (var laptop in ViewBag.laptopCategory)
                        {
                            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 d-xl-block">
                                <div class="product-cart-wrap">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a asp-action="Details" asp-route-productId="@laptop.Id">

                                                <img class="" src="@laptop.ImageUrl" alt="" />
                                                <img class="hover-img" src="@laptop.ImageUrl" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a asp-action="Wishlist" asp-route-productId="@laptop.Id" aria-label='Add To Wishlist' class='action-btn'><i class="fi-rs-heart"></i></a>
                                            <a aria-label='Compare' asp-route-productId="@laptop.Id" class='action-btn'><i class="fi-rs-shuffle"></i></a>
                                            <a asp-action="QuickView" asp-route-productId="@laptop.Id" asp-controller="Home" aria-label="Quick view" class="action-btn" onclick="showQuickViewModal()"><i class="fi-rs-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href='shop-grid-right.html'>@laptop.Category.Name</a>
                                        </div>
                                        <h2><a href='shop-product-right.html'>@laptop.Name</a></h2>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 50%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (2.0)</span>
                                        </div>
                                        <div>
                                            <span class="font-small text-muted">By <a href='vendor-details-1.html'>Tyson</a></span>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <span>R.s @laptop.Price.ToString("N0")</span>
                                                @* <span class="old-price">$24.8</span> *@
                                            </div>
                                            <div class="add-cart">
                                                <a class='add' asp-action="InsertToCart" asp-route-productId="@laptop.Id"><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                        <!--end product card-->
                    </div>
                    <!--End product-grid-4-->
                </div>
                <!--En tab two-->
                <div class="tab-pane fade" id="tab-three" role="tabpanel" aria-labelledby="tab-three">
                    <div class="row product-grid-4">
                        
                        <!--start product card-->
                         @foreach (var mobile in ViewBag.mobileCategory)
                        {
                            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6  d-xl-block">
                                <div class="product-cart-wrap">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a asp-action="Details" asp-route-productId="@mobile.Id">

                                                <img class="" src="@mobile.ImageUrl" alt="" />
                                                <img class="hover-img" src="@mobile.ImageUrl" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a asp-action="Wishlist" asp-route-productId="@mobile.Id" aria-label='Add To Wishlist' class='action-btn'><i class="fi-rs-heart"></i></a>
                                            <a aria-label='Compare' asp-route-productId="@mobile.Id" class='action-btn'><i class="fi-rs-shuffle"></i></a>
                                            <a asp-action="QuickView" asp-route-productId="@mobile.Id" asp-controller="Home" aria-label="Quick view" class="action-btn" onclick="showQuickViewModal()"><i class="fi-rs-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href='shop-grid-right.html'>@mobile.Category.Name</a>
                                        </div>
                                        <h2><a href='shop-product-right.html'>@mobile.Name</a></h2>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 50%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (2.0)</span>
                                        </div>
                                        <div>
                                            <span class="font-small text-muted">By <a href='vendor-details-1.html'>Tyson</a></span>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <span>R.s @mobile.Price.ToString("N0")</span>
                                                @* <span class="old-price">$24.8</span> *@
                                            </div>
                                            <div class="add-cart">
                                                <a class='add' asp-action="InsertToCart" asp-route-productId="@mobile.Id"><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                        <!--end product card-->
                    </div>
                    <!--End product-grid-4-->
                </div>
                <!--En tab three-->
                <div class="tab-pane fade" id="tab-four" role="tabpanel" aria-labelledby="tab-four">
                    <div class="row product-grid-4">

                        <!--start product card-->
                        @foreach (var airbud in ViewBag.earbudCategory)
                        {
                            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 d-xl-block">
                                <div class="product-cart-wrap">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a asp-action="Details" asp-route-productId="@airbud.Id">

                                                <img class="" src="@airbud.ImageUrl" alt="" />
                                                <img class="hover-img" src="@airbud.ImageUrl" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a asp-action="Wishlist" asp-route-productId="@airbud.Id" aria-label='Add To Wishlist' class='action-btn'><i class="fi-rs-heart"></i></a>
                                            <a aria-label='Compare' asp-route-productId="@airbud.Id" class='action-btn'><i class="fi-rs-shuffle"></i></a>
                                            <a asp-action="QuickView" asp-route-productId="@airbud.Id" asp-controller="Home" aria-label="Quick view" class="action-btn" onclick="showQuickViewModal()"><i class="fi-rs-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href='shop-grid-right.html'>@airbud.Category.Name</a>
                                        </div>
                                        <h2><a href='shop-product-right.html'>@airbud.Name</a></h2>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 50%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (2.0)</span>
                                        </div>
                                        <div>
                                            <span class="font-small text-muted">By <a href='vendor-details-1.html'>Tyson</a></span>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <span>R.s @airbud.Price.ToString("N0")</span>
                                                @* <span class="old-price">$24.8</span> *@
                                            </div>
                                            <div class="add-cart">
                                                <a class='add' asp-action="InsertToCart" asp-route-productId="@airbud.Id"><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                        <!--end product card-->
                    </div>
                    <!--End product-grid-4-->
                </div>
                <!--En tab four-->
                <div class="tab-pane fade" id="tab-five" role="tabpanel" aria-labelledby="tab-five">
                    <div class="row product-grid-4">
                        
                        <!--start product card-->
                        @foreach (var smartwatch in ViewBag.smartwatchCategory)
                        {
                            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 d-xl-block">
                                <div class="product-cart-wrap">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a asp-action="Details" asp-route-productId="@smartwatch.Id">

                                                <img class="" src="@smartwatch.ImageUrl" alt="" />
                                                <img class="hover-img" src="@smartwatch.ImageUrl" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a asp-action="Wishlist" asp-route-productId="@smartwatch.Id" aria-label='Add To Wishlist' class='action-btn'><i class="fi-rs-heart"></i></a>
                                            <a aria-label='Compare' asp-route-productId="@smartwatch.Id" class='action-btn'><i class="fi-rs-shuffle"></i></a>
                                            <a asp-action="QuickView" asp-route-productId="@smartwatch.Id" asp-controller="Home" aria-label="Quick view" class="action-btn" onclick="showQuickViewModal()"><i class="fi-rs-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href='shop-grid-right.html'>@smartwatch.Category.Name</a>
                                        </div>
                                        <h2><a href='shop-product-right.html'>@smartwatch.Name</a></h2>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 50%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (2.0)</span>
                                        </div>
                                        <div>
                                            <span class="font-small text-muted">By <a href='vendor-details-1.html'>Tyson</a></span>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <span>R.s @smartwatch.Price.ToString("N0")</span>
                                                @* <span class="old-price">$24.8</span> *@
                                            </div>
                                            <div class="add-cart">
                                                <a class='add' asp-action="InsertToCart" asp-route-productId="@smartwatch.Id"><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                        <!--end product card-->
                    </div>
                    <!--End product-grid-4-->
                </div>
                <!--En tab five-->
                <div class="tab-pane fade" id="tab-six" role="tabpanel" aria-labelledby="tab-six">
                    <div class="row product-grid-4">
                        
                        <!--start product card-->
                        @foreach (var tv in ViewBag.televisionCategory)
                        {
                            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 d-xl-block">
                                <div class="product-cart-wrap">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a asp-action="Details" asp-route-productId="@tv.Id">

                                                <img class="" src="@tv.ImageUrl" alt="" />
                                                <img class="hover-img" src="@tv.ImageUrl" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a asp-action="Wishlist" asp-route-productId="@tv.Id" aria-label='Add To Wishlist' class='action-btn'><i class="fi-rs-heart"></i></a>
                                            <a aria-label='Compare' asp-route-productId="@tv.Id" class='action-btn'><i class="fi-rs-shuffle"></i></a>
                                            <a asp-action="QuickView" asp-route-productId="@tv.Id" asp-controller="Home" aria-label="Quick view" class="action-btn" onclick="showQuickViewModal()"><i class="fi-rs-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href='shop-grid-right.html'>@tv.Category.Name</a>
                                        </div>
                                        <h2><a href='shop-product-right.html'>@tv.Name</a></h2>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 50%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (2.0)</span>
                                        </div>
                                        <div>
                                            <span class="font-small text-muted">By <a href='vendor-details-1.html'>Tyson</a></span>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <span>R.s @tv.Price.ToString("N0")</span>
                                                @* <span class="old-price">$24.8</span> *@
                                            </div>
                                            <div class="add-cart">
                                                <a class='add' asp-action="InsertToCart" asp-route-productId="@tv.Id"><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                        <!--end product card-->
                    </div>
                    <!--End product-grid-4-->
                </div>
                
            </div>
            <!--End tab-content-->
        </div>
    </section>
  
</main>

<script>
    function showQuickViewModal() {
        $('#quickViewModal').modal('show');
    }
</script>
