@model ShopVM


<main class="main">
    <div class="page-header mt-30 mb-50">
        <div class="container">
            <div class="archive-header">
                <div class="row align-items-center">
                    <div class="col-xl-3">
                        <h1 class="mb-15">Search</h1>
                        <div class="breadcrumb">
                            <a asp-action="Index" rel='nofollow'><i class="fi-rs-home mr-5"></i>Home</a>
                            <span></span> Search
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container mb-30">
        <div class="row flex-row-reverse">
            <div class="col-lg-4-5">
                <div class="shop-product-fillter">
                  @*   <div class="totall-product">
                        <p>
                            We found <strong class="text-brand"> @Model.Products.Count()< </strong> items
                             under Development 
                             @if (Model.FilterPrice.FromPrice != 0 && Model.FilterPrice.ToPrice != 0)
                            {
                            <h1>Triggred</h1>
                            <strong class="text-brand">between Price R.s @Model.FilterPrice.FromPrice.ToString("N0")</strong>
                            <strong class="text-brand">and R.s @Model.FilterPrice.ToPrice.ToString("N0")</strong>
                            }
                        </p>
                    </div> *@
                    <div class="sort-by-product-area">
                        <div class="sort-by-cover mr-10">
                            <div class="sort-by-product-wrap">
                                <div class="sort-by">
                                    <span><i class="fi-rs-apps"></i>Show:</span>
                                </div>
                                <div class="sort-by-dropdown-wrap">
                                    <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                </div>
                            </div>
                            <div class="sort-by-dropdown">
                                <ul>
                                    <li><a class="active" href="#">50</a></li>
                                    <li><a href="#">100</a></li>
                                    <li><a href="#">150</a></li>
                                    <li><a href="#">200</a></li>
                                    <li><a href="#">All</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sort-by-cover">
                            <div class="sort-by-product-wrap">
                                <div class="sort-by">
                                    <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                </div>
                                <div class="sort-by-dropdown-wrap">
                                    <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                </div>
                            </div>
                            <div class="sort-by-dropdown">
                                <ul>
                                    <li><a class="active" href="#">Featured</a></li>
                                    <li><a href="#">Price: Low to High</a></li>
                                    <li><a href="#">Price: High to Low</a></li>
                                    <li><a href="#">Release Date</a></li>
                                    <li><a href="#">Avg. Rating</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                  
                
                <div class="row product-grid">
                    @foreach (var product in Model.Products)
                    {
                        <!--Start product card-->
                        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 d-none d-xl-block">
                            <div class="product-cart-wrap">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a asp-action="Details" asp-route-productId="@product.Id">

                                            <img class="default-img" src="@product.ImageUrl" alt="" />
                                            <img class="hover-img" src="@product.ImageUrl" alt="" />
                                        </a>
                                    </div>
                                    <div class="product-action-1">
                                        <a aria-label='Add To Wishlist' class='action-btn' href='shop-wishlist.html'><i class="fi-rs-heart"></i></a>
                                        <a aria-label='Compare' class='action-btn' href='shop-compare.html'><i class="fi-rs-shuffle"></i></a>
                                        <a aria-label="Quick view" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href='shop-grid-right.html'>@product.Category.Name</a>
                                    </div>
                                    <h2><a href='shop-product-right.html'>@product.Name</a></h2>
                                    <div class="product-rate-cover">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width: 50%"></div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (2.0)</span>
                                    </div>
                                    <div>
                                        <span class="font-small text-muted">By <a href='vendor-details-1.html'>Tyson</a></span>
                                    </div>
                                    <div class="product-card-bottom">
                                        <div class="product-price">
                                            <span>R.s @product.Price.ToString("N0")</span>
                                            @*  <span class="old-price">$24.8</span> *@
                                        </div>
                                        <div class="add-cart">
                                            <a class='add' href='shop-cart.html'><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!--end product card-->
                    </div>
                
               
                <!--product grid-->
                @* <div class="pagination-area mt-20 mb-20">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fi-rs-arrow-small-left"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fi-rs-arrow-small-right"></i></a>
                            </li>
                        </ul>
                    </nav> *@
                </div>
                
            </div>
            
            @* <div class="col-lg-1-5 primary-sidebar sticky-sidebar">
                <form method="post">
                    <div class="sidebar-widget widget-category-2 mb-30">
                        <h5 class="section-title style-1 mb-30">Category</h5>
                        <ul>
                            <select class="form-select" asp-for="@Model.FilterPrice.CategoryName">
                                <option selected>Select Category</option>
                                <option>All</option>
                                <option>Laptop</option>
                                <option>Mobile</option>
                                <option>Earbud</option>
                                <option>Smartwatch</option>
                                <option>Television</option>
                            </select>
                        </ul>
                    </div>
                    <!-- Fillter By Price -->
                    <div class="sidebar-widget price_range range mb-30">
                        <h5 class="section-title style-1 mb-30">Fill by price</h5>
                        <input type="number" id="from_price" class="select_price" placeholder="From" asp-for="@Model.FilterPrice.FromPrice" value="0" />
                        <input type="number" id="to_price" class="select_price" placeholder="To" asp-for="@Model.FilterPrice.ToPrice" value="0" />

                        @*  <a class='btn btn-sm btn-default' href='shop-grid-right.html'><i class="fi-rs-filter mr-5"></i> Fillter</a> *@
                       @*  <input type="submit" />
                    </div>
                </form> *@

            </div> 

        </div>
    </div>
</main>